<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
    <title><%= title %></title>
</head>
<body>
    <div id="nickname" class="content-center">
        <div class="container">
            <div class="row">
                <img src="<%= baseURL %>/img/logo.png" />
                <form action="<%= baseURL %>chat">
                    <div class="mb-3">
                        <label for="formGroupNickname" class="form-label">Apelido</label>
                        <input type="text" name="nickname" class="form-control" id="formGroupNickname" placeholder="Digite como você quer ser chamado">
                    </div>
                    <input class="btn" value="Entrar" type="submit" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>